# Do not leave any whitespaces
# variable=value

export WORKDIR={tmpdir}
export BINDIR={bindir}

export PYTHON=python
export CLEANUP=no

# configure area, grid, and transfer
export AREA=40/-5/30/5.5
export GRID=1.0/1.0

# set init and forecast times for testing
# (default 36h from today 00:00) 
# May be overwritten by ECMWF queueing system
export DAY=2020
export MONTH=01
export YEAR=29
export HH=00
export FCSTEP=036
export STEP=0/to/36/by/6

